.paneBase {
	-fx-background-color: transparent;
}

/**Used for two button of application shutdown and return */
.btReturn {
	-fx-background-color: ffffff;
	-fx-background-radius: 80;
	-fx-cursor: hand;
}